.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

canvas#stage {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

#medusa-root .commits {
  list-style: none;
  position: fixed;
  color: #fff;
  font-size: 0.7em;
  text-align: left;
}

#medusa-root .commits p {
  margin: 0 0 0.8em;
}

#medusa-root .commits li {
  padding: 0.7em 1em 0 1em;
  margin: 1em 0;
  border: 1px solid transparent;
  height: 4.3em;
}

#medusa-root .commits li:hover {
  cursor: pointer;
  border: 1px solid #eeeeee;
  border-radius: 44px;

}

#medusa-root .commits li > div {
  display: inline-block;
  vertical-align: top;
}

#medusa-root .commits li.current {
  border: 1px solid #832dc4;
  border-radius: 44px;
}

#medusa-root .commits .sidebar-gravatar {
  margin-right: 0.7em;
}

#medusa-root .commits .sidebar-gravatar img {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

#medusa-root .commits .author {
  font-weight: bold;
}

#medusa-root .commits .date {
  color: #eee;
}

#medusa-root .message {
  display: block;
  width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#medusa-root .message a {
  color: #fff;
  text-decoration: none;
}

#medusa-root .message a:hover {
  color: #fff;
  text-decoration: underline;
}

#medusa-root .github-view {
  color: #fff;
  text-decoration: none;
  margin-top: 0.3em;
  display: block;
  font-size: 0.8em;
  float: right;
}

#medusa-root .github-view:hover {
  text-decoration: underline;
}

#medusa-root .medusa-file-info-widget {
  position: absolute;
  z-index: 9999999999;
  background: rgba(33, 34, 62, 0.9);
  border: 1px solid #832dc4;
  border-radius: 44px;
  padding: 0.5em 0.5em 0.3em 0.5em;
  min-width: 321px;
  min-height: 86px;
}

#medusa-root .medusa-file-info-widget:hover {
  cursor: default;
}

#medusa-root .medusa-file-info-widget p {
  margin: 0 0 0.8em;
}

#medusa-root .file-info-gravatar {
  display: inline-block;
  vertical-align: top;
}

#medusa-root .file-info-details {
  display: inline-block;
  vertical-align: top;
}

#medusa-root .file-info-message {
  display: block;
  width: 270px;
  max-height: 50px;
  overflow: hidden;
  margin: 0 0 1em;
  /*white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; */
}

#medusa-root .file-info-gravatar {
  margin: 1.2em 0.7em 0 0;
}

#medusa-root .file-info-gravatar img {
  border-radius: 50%;
}

#medusa-root .file-info-details {
  color: #fff;
  font-size: 0.7em;
  text-align: left;
}

#medusa-root .file-info-author-name a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

#medusa-root .file-info-author-name a:hover {
  text-decoration: underline;
}

#medusa-root .file-info-links a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

#medusa-root .file-info-links a:hover {
  text-decoration: underline;
}

#medusa-root .hidden {
  display: none;
}

.medusa-wrap {
  width: 380px;
}
