
.medusa-UI {
  .commit-list{
    .list-group-item{position: static;}
    .list-group-item.current{border-right:0 solid rgba($primary,0.7);background: rgba($primary,0.05) !important;
      .info div{padding: 1px 0 3px 0}
      .info div+div{border-top:1px solid rgba($primary,0.1);padding: 4px 0}
    }
    .control-count .select{max-width:auto;}
    .message { display: block; width: auto;margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
      a { color: #fff; text-decoration: none}
      a:hover { color: #fff; text-decoration: underline}
    }
  }

  /*
  .commits { list-style: none; color: #fff; font-size: 0.7em; text-align: left;padding:0}
  .commits p { margin: 0 0 0.8em}
  .commits li { padding: 0.7em 1em 0 1em; margin: 1em 0; border: 1px solid transparent; height: 4.3em}
  .commits li:hover { cursor: pointer; border: 1px solid #eeeeee; border-radius: 44px;}
  .commits li > div { display: inline-block; vertical-align: top}
  .commits li.current { border: 1px solid #832dc4; border-radius: 44px}
  .commits .gravatar { margin-right: 0.7em}
  //.commit-list .gravatar img { border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%}
  .commits .author { font-weight: bold}
  .commits .date { color: #eee}

  .github-view { color: #fff; text-decoration: none; margin-top: 0.3em; display: block; font-size: 0.8em; float: right}
  .github-view:hover { text-decoration: underline}
  */
}
@media (max-width: 767px) {
  .medusa-UI {
    .commit-list{
      .gravatar{float:right;display:none}
    }
  }
}

.App{
  .medusa-file-info-widget { position: absolute; background: rgba(33, 34, 62, 0.9); border: 1px solid #832dc4; border-radius: 3px; padding: 1em; min-width: 321px; min-height: 86px;z-index: 9999}
  .medusa-file-info-widget:hover { cursor: default}
  .medusa-file-info-widget p { margin: 0 0 0.8em}

  .file-info-gravatar { display: inline-block; vertical-align: top}
  .file-info-details { display: inline-block; vertical-align: top}
  .file-info-message { display: block; width: 270px; max-height: 50px; overflow: hidden; margin: 0 0 1em}
  .file-info-gravatar { margin: 1.2em 0.7em 0 0}
  .file-info-gravatar img { border-radius: 50%}
  .file-info-details { color: #fff; font-size: 0.7em; text-align: left}
  .file-info-author-name a { text-decoration: none; font-weight: bold; color: #fff}
  .file-info-author-name a:hover { text-decoration: underline}
  .file-info-links a { text-decoration: none; font-weight: bold; color: #fff}
  .file-info-links a:hover { text-decoration: underline}
}
