.UI-content{
  .controls{

    text-align: center;
    button,.rc-slider{display: inline-block;vertical-align: bottom;color:rgba($secondary,0.8);}
    .rc-slider{vertical-align: baseline;}
    .rc-slider{width:75%;margin:0 20px;}
    .playpause,.calendar{font-size:130%}
    .slider > div{
      display: inline-block;
    }
  }
}
@media (max-width:991px) {
  .UI-content{
    .controls{
      .rc-slider{width:60%;margin:0 20px}
    }
    .slider > div{
      display: block;width: 100%
    }
  }
}
@media (max-width: 767px) {
  .UI-content{
    .rc-slider{
      display:none !important
    }
    button.prev,button.next{font-size: 150%;width:50px;margin:10px 20px}
  }
}
