// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'Montserrat','Helvetica Neue', Arial, sans-serif;
$font-family-base: $font-family-sans-serif !default;

$spacer: 1rem;


$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-size-base:              .77rem;
$font-size-lg: 1.5rem;
$font-size-sm: 0.75rem;
$font-size-xs: 0.75rem !default;

$font-weight-light:           200;
$font-weight-normal:          300;
$font-weight-bold:            500;


$line-height-base:            1.7;
$font-weight-base: 300;

$h1-font-size:                $font-size-base * 1.5;
$h2-font-size:                $font-size-base * 1.35;
$h3-font-size:                $font-size-base * 1.3;
$h4-font-size:                $font-size-base * 1.2;
$h5-font-size:                $font-size-base * 1.1;
$h6-font-size:                $font-size-base;

$headings-font-family:        inherit !default;
$headings-font-weight:        200;
$headings-line-height:        1.2 !default;



$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;

body {
  .App,
  .medusa-UI {letter-spacing: .05em}
}
