body {
  .App.showing-UI,
  .Gource-UI { position: fixed;top:0;left:0;width:100%;height:100%;z-index: 999999999}
  .Gource-UI { display: flex;align-items: stretch;border:15px $light solid;pointer-events: none;}
}
.Gource-UI {
  .UI-sidebar { min-width: 400px;     max-width: 400px;     transition: all 0.3s; overflow-y: scroll;background: rgba($lighter,0.7);padding-right:40px;pointer-events: auto;
    .mobile-bottom{display: none}
    .close-sidebar{margin:200px 0 0 400px;background: rgba($lighter,0.7);border:0;width:30px;height:60px;position: absolute;z-index: 9;border-radius:40px;border-top-left-radius: 0; border-bottom-left-radius: 0;text-align: left;outline: 0;
      svg{transform: rotate(0deg);}
    }
  }
  .UI-sidebar.active { min-width: 40px;     max-width: 40px;     text-align: center;padding-right:0px;
    .close-sidebar{margin:200px 0 0 20px;
      svg{transform: rotate(180deg);}
    }
  }
  .UI-content { width: 100%;     padding: 20px;     min-height: 100vh;     transition: all 0.3s;
    .close-fullscreen{margin:0px 0 0 0px;background: $light;width:80px;height:80px;position: absolute;z-index: 9;border-radius:100px;top:-25px;right:-25px;border:0}
    .controls.top{margin:50px 0px;pointer-events: auto;}
  }
}
@media (max-width: 1199px) {
  .Gource-UI {
    .UI-sidebar { min-width: 300px;     max-width: 300px;
      .close-sidebar{margin:200px 0 0 300px;}
    }
  }
}
@media (max-width: 767px) {
  body{
    .Gource-UI {font-size: 85%;border:0;

      .UI-content {
        .close-fullscreen{width:70px;height:70px;top:-15px;right:-15px;border:0}
      }

      .controls.top .slider{position:fixed;top:50px;width: 90%;display: none}

      .UI-sidebar { min-width: 100%;     max-width:  100%;bottom:0;padding:0;position: fixed;
        .close-sidebar,
        .card{display: none;clear:both;}
        .card.about,
        .mobile-bottom{display: block;}
        .mobile-top span{display: inline-block;padding:($spacer*0.7) $spacer ($spacer*0.5) $spacer;}
        .mobile-bottom > div{display: inline-block;width: 50%;padding:($spacer*0.7) ($spacer*0.5) ($spacer*0.7) ($spacer*0.5);}
        .close-sidebar{margin:200px 0 0 250px;}
      }
      .UI-sidebar.active {min-width: 100%;     max-width:  100%; text-align: left;padding-right:0px;
        
      }
    }
  }
}
