$datepicker__background-color: #2b2e4d;
$datepicker__border-color: 'transparent';
$datepicker__highlighted-color: #f0f !default;
$datepicker__muted-color: rgba(255,255,255,0.15);
$datepicker__selected-color: #252642 !default;
$datepicker__text-color: #fff;
$datepicker__header-color: #fff;
$datepicker__navigation-disabled-color: lighten($datepicker__muted-color, 10%)  !default;

$datepicker__border-radius: 0;
$datepicker__day-margin: 0.166rem !default;
$datepicker__font-size: 0.8rem !default;
$datepicker__font-family: "Helvetica Neue", Helvetica, Arial,  sans-serif !default;
$datepicker__item-size: 1.7rem !default;
$datepicker__margin: 0.4rem !default;
$datepicker__navigation-size: 0.45rem !default;
$datepicker__triangle-size: 8px !default;


@import './datepicker-cssmodules.scss';

#UI-sidebar{
  a,button{outline:none}
  .react-datepicker,.react-datepicker__month-container{
      width:100%;max-width: 100%;
  }
}
